.wrapper
  .header
    .header-top
      .header-top__right-text
        アプリ名
      .header-top__left-text
        = current_user.name
    .header-sub 
      .header-sub__mypage
        マイページ
      .header-sub__cog
        = link_to "設定",edit_user_path(current_user) 
  .main
    .main-leftbox
      .main-leftbox-content
        .main-leftbox-content__careated_at
          2020/02/23
        .main-leftbox-content__process
        - @messages.each do |message|
          .main-leftbox-content__process
            = message.content


      .main-leftbox-form
        .main-leftbox-form__text
          .main-leftbox-form__text_a
            =form_for (@message) do |f|
              .main-leftbox-form__text_a__b
              = f.text_field :content, class: "chat-group-form__input"
              = f.hidden_field :user_id, value: current_user.id 
              .main-leftbox-form__text_a__b__c
              = f.submit "Save", class: "chat-group-form__action-btn"
       
    .main-rightbox
      .main-rightbox-reward
        = link_to "報酬を設定",new_reward_path(current_user) 
        .main-rightbox-reward__achievement
        
      .main-rightbox-data
        .main-rightbox-data__glaf
          = render 'rewards/new.html.haml'
        .main-rightbox-data__achievement
          達成