
.wrapper
  .header
    .header-top
      .header-top__right-text
        G.A.Reward
      .header-top__left-text
        = current_user.name
    .header-sub 
      .header-sub__mypage
        = link_to "マイページ",reward_path(current_user)
      .header-sub__cog
        = link_to "設定",edit_user_path(current_user) 
  .main
    .main-leftbox
      .main-leftbox-contents
        .main-leftbox-contents__process
        - @messages.each do |message|
          .main-leftbox-contents__careated_at
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
          .main-leftbox-contents__process
            = message.content


      .main-leftbox-form
        .main-leftbox-form__text
          .main-leftbox-form__text_btn
            = form_for [@reward, @message] do |f|
              = f.text_field :content, class: 'form__message', placeholder: 'type a message'
             
              = f.submit 'Send', class: 'form__submit'
        .main-leftbox-form__achievement
          = link_to "達成", new_reward_path(current_user) , class: 'btn'


           
       
    .main-rightbox
      .main-rightbox-reward
        = link_to edit_reward_path(@reward)  do
          .main-rightbox-reward_cog
          報酬を編集
        .main-rightbox-reward__achievement
          REWARD：
          - current_user.rewards.last(1).each do |reward|
            .reward__achievement
              = link_to reward_messages_path(reward) do
                .reward__name
                  = reward.name

      .main-rightbox-data
        .main-rightbox-data__glaf
          = render 'rewards/new.html.haml'
        

        -# .main-rightbox-rewardd
        -#   = link_to edit_reward_path(@reward) 
        -#   報酬をへんへん
          